* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header img {
  height: 100px;
  width: 100px;
}

h1 {
  font-family: "Audiowide", sans-serif;
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
  color: black;
}

div {
  margin-top: 0%;
  margin-left: 475px;
  opacity: 0.8;
}

#pokemonSprite {
  margin-top: 5px;
  size: 10px;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("assets/images/images.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 1200px) {
  header img {
    height: 100px;
    width: 100px;
  }

  h1 {
    font-family: "Audiowide", sans-serif;
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    color: black;
  }

  div {
    margin-top: 0%;
    margin-left: 475px;
    opacity: 0.8;
  }

  #pokemonSprite {
    margin-top: 5px;
    size: 10px;
  }

  body {
    font-family: Arial, sans-serif;
    background-image: url("assets/images/images.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
